.Container{
    background-color: gray;
    height: 97vh;
    border: 1px solid black;
}
form{
    height: 50vh;
    border: 1px solid red;
    width: 30%;
    margin-left: 35%;
}
label{
    font-style: italic;
}
input{
    width: 90%;
    height: 30px;
    border-radius: 10px;
}